<!doctype html>
<html lang="en">
<head>
	<title>Add a new recipe - SemanticFood</title>
	<script type=text/javascript src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
	<h1>Your recipe:</h1>

	<form method="POST" action="">
	    <div>{{ form.name.label }}: {{ form.name() }}</div>
	    <div>{{ form.description.label }}: {{ form.description() }}</div>
	    <div>{{ form.prepTime.label }}: {{ form.prepTime() }}</div>
	    <div>{{ form.cookTime.label }}: {{ form.cookTime() }}</div>
	    <div>{{ form.serving.label }}: {{ form.serving() }}</div>
	    <div>{{ form.ingredient.label }}: {{ form.ingredient() }}</div>
	    <div>{{ form.instructions.label }}: {{ form.instructions() }}</div>
	    <div>{{ form.submit.label }}: {{ form.submit() }}</div>
	</form>

</body>

</html>

