<!doctype html>
<html lang="en">
<head>
	<title>Add a new recipe - SemanticFood</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='create.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
</head>

<body>
<div id="wrapper">
	<h1>Your recipe:</h1>
	<form id="create-form" method="POST" action="">
	    <div>{{ form.name(placeholder=form.name.description) }}</div>
	    <div>{{ form.description(placeholder=form.description.description) }}</div>

	    <div id="prepTime">
	    	<p>{{ form.prepTime.label }}:</p>
		    {{ form.prepTime.days(class="time", placeholder=form.prepTime.days.description, type="number") }}
		    {{ form.prepTime.hours(class="time", placeholder=form.prepTime.hours.description, type="number") }}
		    {{ form.prepTime.minutes(class="time", placeholder=form.prepTime.minutes.description, type="number") }}
	    </div>

	    <div id="cookTime">
	    	<p>{{ form.cookTime.label }}:</p>
		    {{ form.cookTime.days(class="time", placeholder=form.cookTime.days.description, type="number") }}
		    {{ form.cookTime.hours(class="time", placeholder=form.cookTime.hours.description, type="number") }}
		    {{ form.cookTime.minutes(class="time", placeholder=form.cookTime.minutes.description, type="number") }}
	    </div>

	    <div>{{ form.servings(placeholder=form.servings.description, type="number") }}</div>


	    <div>{{ form.instructionStep[0](placeholder=form.instructionStep[0].description) }}</div>

        <div><button class="add-button" id="add-instruction">Add Step</button></div>


        <div><h3>Ingredients</h3></div>

        <div><select required id="ingredient-0" name="ingredient-0"></select>
			<input required id="qty-ingredient-0" class="qtyinput" placeholder="g / ml" type="number" name="qty">
		</div>

		<div><button class="add-button" id="add-ingredient">Add Ingredient</button></div>

        <div><button class="add-button" id="submit-button" type="submit">Submit Recipe</button></div>
	</form>
	<div>{{ form.errors if form.errors }}</div>
</div>
</body>
</html>