<!doctype html>
<html lang="en">
<head>
	<title>{{ recipe.name }} - SemanticFood</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<div id="wrapper">
	<div itemscope itemtype="http://schema.org/Recipe">
		<h1 itemprop="name">{{ recipe.name}}</h1>
		<div>
			<p><span itemprop="description">{{ recipe.description }}</span></p>
			<p>
				<span itemprop="recipeYield">{{ recipe.servings }} Servings</span><br>
				Preparation Time: <meta itemprop="prepTime" content="{{ recipe.prepTime }}">{{ recipe.prepTime }} minutes<br>
				Cooking Time: <meta itemprop="cookTime" content="{{ recipe.cookTime }}">{{ recipe.cookTime }} minutes
			</p>
		</div>
		<div class="nutrition" itemprop="nutrition" itemscope itemtype="http://schema.org/NutritionInformation">
			<h3>Nutritional data:</h3>
			<p>Calories: <span itemprop="calories">{{ recipe.calories }} kcal</span></p>
			<p>Carbohydrates: <span itemprop="carbohydrateContent">{{ recipe.carbohydrates }} g</span></p>
			<p>Sugars: <span itemprop="sugarContent">{{ recipe.sugars }} g</span></p>
			<p>Sodium: <span itemprop="sodiumContent">{{ recipe.sodium }} g</span></p>
			<p>Total Fat: <span itemprop="fatContent">{{ recipe.fat }} g</span></p>
			<p>Saturated Fat: <span itemprop="saturatedFatContent">{{ recipe.saturatedFat }} g</span></p>
			<p>Unsaturated Fat: <span itemprop="unsaturatedFatContent">{{ recipe.unsaturatedFat }} g</span></p>
			<p class="fat-detail">Monounsaturated: <span>{{ recipe.monounsaturatedFat }} g</span> </p>
			<p class="fat-detail">Polyunsaturated: <span>{{ recipe.polyunsaturatedFat }} g</span> </p>
			<p>Transfat: <span itemprop="transFatContent">{{ recipe.transFat }} g</span></p>
			<p>Fibers: <span itemprop="fiberContent">{{ recipe.fibers }} g</span></p>
			<p>Proteins: <span itemprop="proteinContent">{{ recipe.proteins }} g</span></p>
		</div>
		<div>
			<h3>Ingredients:</h3>
			<ul id="ingredients">
				{% for ingredient in recipe.ingredients %}
				<li class="ingredient" itemprop="recipeIngredient">{{ ingredient }}</li>
				{% endfor %}
			</ul>
		</div>
		<div>
			<h3>Instructions:</h3>
			<ul itemtype="http://schema.org/ItemList" itemprop="recipeInstructions">
				<meta itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending" />
				{% for step in recipe.steps %}
				<li itemprop="itemListElement">{{ step }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
</body>
</html>